.project_button a{
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Oswald', serif;
}

.project_button{
  background-color: #F5F5F5;
  border: 6px solid #59B1CC;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 4px;
}

.project_button:hover {
    background-color: #59B1CC;
    color: white;
}

.project_button a {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.project_button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.project_button:hover a {
  padding-right: 25px;
}

.project_button:hover a:after {
  opacity: 1;
  right: 0;
}
